.container-fluid {
    background: #a8b60e;
    border-radius: 0px;
    padding: 40px;
}

.jumbotron {
    border: 10px solid #003366;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    background-image: url("/assets/img/eat_da_burger2.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: 'Satisfy', cursive;
    padding-bottom: 3%;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: #fff;
}

#lefthead {
    background-color: rgb(232, 181, 13);
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: rgb(232, 181, 13);
    color: white;
    text-align: center;
    font-size: 1.2em;
}